<div class="container">
  {{#if model.workers}}
  <h4>Your Workers</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Hashrate (rough, short average)</th>
        <th>Hashrate (accurate, long average)</th>
        <th>Last Share</th>
      </tr>
    </thead>
    <tbody>
      {{#each-in model.workers as |k v|}}
        <tr class="{{if v.offline "warning" "success"}}">
          <td>{{k}}</td>
          <td>{{format-hashrate v.hr}}</td>
          <td>{{format-hashrate v.hr2}}</td>
          <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
        </tr>
      {{/each-in}}
    </tbody>
  </table>
  {{else}}
    <h3>No workers online</h3>
  {{/if}}
  <div class="alert alert-info" role="alert">
	Gastracker:  <a href="http://gastracker.io/addr/{{model.login}}" target="_blank">{{model.login}}</a>
  </div>
  <div class="alert alert-info" role="alert">
    <strong>Your bulk stats JSON API URL:</strong> <a href="/api/accounts/{{model.login}}" target="_blank">/api/accounts/{{model.login}}</a>
  </div>
</div>
