{{outlet 'error' }}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4 stats">
    <div class="stats-box">
        <div style="display: block;">
          <i class="fa fa-cloud"></i> {{t "account.immature.balance"}}: <span>{{format-balance model.stats.immature}} {{config.Unit}}</span><br>
          <small>{{t "account.immature.description"}}</small>
        </div>
        <div style="display: block;">
          <i class="fa fa-bank"></i> {{t "account.pending.balance"}}: <span>{{format-balance model.stats.balance}} {{config.Unit}}</span><br>
          <small>{{t "account.pending.description"}}</small>
        </div>
        {{#if model.stats.pending}}
        <div style="display: block;">
          <i class="fa fa-clock-o"></i> {{t "account.current"}}: <span>{{format-balance model.stats.pending}} {{config.Unit}}</span><br>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-btc"></i> {{t "account.total.paid"}}: <span>{{format-balance model.stats.paid}} {{config.Unit}}</span></div>
        <div style="display: block;"><i class="fa fa-money"></i> Last 24h Reward: <span>{{format-balance model.24hreward}}</span></div>
</div>

      </div>
      <div class="col-md-4 stats">
<div class="stats-box">

        {{#if model.stats.lastShare}}
        <div style="display: block;"><i class="fa fa-hourglass-half"></i>
          {{t "account.last_share_submitted"}}: <span>{{format-relative (seconds-to-ms (string-to-int model.stats.lastShare))}}</span>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-cogs"></i> {{t "account.online"}}: <span>{{format-number model.workersOnline}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> {{t "account.hashrate"}} ({{t "account.short_average_abbrv"}}): <span>{{format-hashrate model.currentHashrate}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> {{t "account.hashrate"}} ({{t "account.long_average_abbrv"}}): <span>{{format-hashrate model.hashrate}}</span></div>
        <div style="display: block;"><i class="fa fa-calculator"></i> {{t "account.earnings.miner"}}: <span>{{format-number earnPerDay}} {{config.Unit}}</span></div>

      </div>
</div>

      <div class="col-md-4 stats">
<div class="stats-box">

        <div style="display: block;"><i class="fa fa-tachometer"></i> {{t "account.blocks.found"}}: <span>{{format-number model.stats.blocksFound fallback='0'}}</span></div>
        <div style="display: block;"><i class="fa fa-paper-plane-o"></i> {{t "account.total.payments"}}: <span>{{format-number model.paymentsTotal}}</span></div>
        <div style="display: block;">
          <i class="fa fa-percent"></i> {{t "account.round_share"}}: <span>{{format-number roundPercent style='percent' maximumFractionDigits='6'}}</span><br/>
          <small>{{t "account.round_share_description"}}</small>
        </div>
        <div style="display: block;">
          <i class="fa fa-hourglass"></i>
          {{t "account.epoch_switch"}}: <span>{{format-relative applicationController.nextEpoch units="hour"}}</span>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <ul class="nav nav-tabs">
    {{#active-li currentWhen='account.index' role='presentation'}}
      {{#link-to 'account.index'}}{{t "account.workers"}} <span class="badge alert-danger">{{model.workersOffline}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.rewards' role='presentation'}}
      {{#link-to 'account.rewards'}}Rewards{{/link-to}}
    {{/active-li}}

    {{#active-li currentWhen='account.payouts' role='presentation'}}
      {{#link-to 'account.payouts'}}{{t "account.payouts"}}{{/link-to}}
    {{/active-li}}
  </ul>
</div>

{{outlet}}
