<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>{{t "luck.blocks"}}</th>
        <th>{{t "luck.shares_diff"}}</th>
        <th>{{t "luck.uncle_rate"}}</th>
        <th>{{t "luck.orphan_rate"}}</th>
      </tr>
    </thead>
    <tbody>
    {{#each-in model.luck as |total row|}}
    <tr>
      <td>{{total}}</td>
      <td>{{format-number row.luck style='percent'}}</td>
      <td>{{format-number row.uncleRate style='percent'}}</td>
      <td>{{format-number row.orphanRate style='percent'}}</td>
    </tr>
    {{/each-in}}
    </tbody>
  </table>
</div>
