<div class="jumbotron">
  <div class="container">
    <p class="lead">{{t "payments.pay_tx"}}</p>
    <strong>{{t "payments.total_payments_sent"}}:</strong> <span class="label label-info">{{model.paymentsTotal}}</span>
  </div>
</div>
<div class="container">
  {{#if model.payments}}
  <h3>{{t "payments.latest_payouts"}}</h3>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>{{t "payments.time"}}</th>
          <th>{{t "payments.amount"}}</th>
          <th>{{t "payments.address"}}</th>
          <th>{{t "payments.txid"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.payments as |tx|}}
          <tr>
            <td>{{format-date-locale tx.timestamp}}</td>
            <td>{{format-number tx.formatAmount}}</td>
            <td>
              <a href="{{t "links.blockExplorerLink_address"}}{{tx.address}}" class="hash" rel="nofollow" target="_blank">{{tx.address}}</a>
            </td>
            <td>
              <a href="{{t "links.blockExplorerLink_tx"}}{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{format-tx tx.tx}}</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>{{t "payments.no_payouts_yet"}}</h3>
  {{/if}}
</div>
