<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="font-size: 24px">
          <strong>Open Ethereum Pool</strong>
        </h1>
        <strong>{{t 'Payout.Minimum' htmlSafe=true}} {{config.PayoutThreshold}}</strong>, {{t 'Payout.Run' htmlSafe=true}}.<br/>
        <span class="label label-success">PROP</span> {{t 'Payout.Description' htmlSafe=true}}.
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> {{t 'Network.Difficulty' htmlSafe=true}}: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> {{t 'Pool.HashRate' htmlSafe=true}}: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> {{t 'Pool.Fee' htmlSafe=true}}: <span id="poolFee" class="label label-success">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> {{t 'Block.LastFound' htmlSafe=true}}: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i>  {{t 'Network.Difficulty' htmlSafe=true}}: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> {{t 'Network.HashRate' htmlSafe=true}}: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> {{t 'Block.Height' htmlSafe=true}}: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> {{t 'Network.RoundVariance' htmlSafe=true}}: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="stats">
    <h4>{{t 'Your.Stats' htmlSafe=true}} &amp; {{t 'Your.PayHistory' htmlSafe=true}}</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder= (t 'Ethereum.AddressSearch') }}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i>{{t 'Search.Lookup'}}</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <hr/>
    <h4 class="note note-info text-center">
      ethminer.exe -F {{config.HttpHost}}:{{config.HttpPort}}/&lt;address&gt;/&lt;worker&gt; -G
    </h4>
  </div>
</div>
