<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="font-size: 24px">
          <strong>{{config.PoolTitle}}</strong>
        </h1>
        <strong>{{t "home.min_payout_threshold"}}: {{PayoutThreshold}} {{config.Unit}}</strong> / {{t "home.payouts_run" interval=PayoutInterval}}<br/>
        <span class="label label-success">PROP</span> {{t "home.payout_scheme_detail"}}
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> {{t "home.miners_online"}}: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> {{t "home.pool_hashrate"}}: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> {{t "home.pool_fee"}}: <span id="poolFee" class="label label-success">{{PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> {{t "home.last_block_found"}}: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> {{t "home.network_difficulty"}}: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> {{t "home.network_hashrate"}}: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> {{t "home.blockchain_height"}}: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> {{t "home.current_round_variance"}}: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>

{{#if config.highcharts.main.enabled}}
<div class="container">
  {{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
</div>
{{/if}}

<div class="container">
  <div class="stats">
    <h3>{{t "home.query_history"}}</h3>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder=(t "home.input.enter_your_wallet_address")}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> {{t "home.button.lookup"}}</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <hr/>
    <h4 class="note note-info text-center">
      EthDcrMiner64.exe -epool {{config.StratumHost}}:{{config.StratumPort}} -ewal &lt;address&gt; -eworker &lt;WORKER&gt; -allcoins 1 -allpools 1
    </h4>
  </div>
  <div>
    <hr/>
    <h4 class="note note-info text-center">
      ethminer.exe -P stratum1+tcp://&lt;address&gt;.&lt;WORKER&gt;@{{config.StratumHost}}:{{config.StratumPort}}
    </h4>
  </div>
</div>
